API_ID=21834860
API_HASH=e4acef545ba34ee3fa5c511b38644647
BOT_TOKEN=8421556402:AAFOsPqaec-EZuRrvDAGO8CAZ2zYF1uPYKw
LOGGER_ID=
MONGO_DB_URI=mongodb+srv://divyanshshukla2239_db_user:34tOoKfBFlX4U1Lj@cluster0.zzndimq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6334323103
STRING_SESSION=
